@import url('https://fonts.googleapis.com/css?family=Coiny');

@font-face{
    font-family: pizzaFont;
    src: url("/public/Order\ Pizza.ttf");
}

#background{
    height: 250px;
    width:100%;
    background-color: grey; /* For browsers that do not support gradients */        
    background-image: linear-gradient(180deg, black 0%, grey 50%, orange 75%);
    color: red;
    opacity:0.95;
}

#inputField{
    
}

body{
    background-color: orange !important;
}

h1{
    font-family: pizzaFont, 'Coiny', cursive !important;
}